table {
	width: 100%;
}

.user-row {
	height: 35px;
}

.user-row-header {
	height: 45px;
}

.user-colum-header {
	font-size: 18px;
}

.user-colum-footer {
	font-weight: bold;
}

.user-colum-balance {
	text-align: right;
	width: 50px;
	padding-right: 30px;
}

.user-paginator {
	height: 40px;
}

.user-action-row {
	padding: 8px 8px 8px 24px;
}

.barre {
	text-decoration: line-through;
}