@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    max-width: 1200px;
    margin: 10px auto auto auto;
}

.action-button {
    text-transform: uppercase;
}




.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-title {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
}

a {
    color: white;
    text-decoration: none;
}

.sb-error {
    color: red;
    font-weight: bold;
}

.text-right {
    text-align: right;
}